/*
#FFE521 // amarillo
#FF009E // rosa
#000000 // negro
#56F89A // verde
 rgba(86, 248, 154, 0.664) // verde claro

*/
body{
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  background-color: #f3f3f3;
}
.fondo-obscuro{
  background-color: #000000;
}
.fondo-claro{
 background-color: rgba(86, 248, 154, 0.664);
}
.titulos{
font-family:  'Amatic SC', cursive;
}
.menu-lateral{
  list-style: none;
  display: inline-block;
  height: 100vh;
  width: 250px;
}
.opciones-menu-lateral{
  font-size: 30px;
}