/*
#FFE521 // amarillo
#FF009E // rosa
#000000 // negro
#56F89A // verde
 rgba(86, 248, 154, 0.664) // verde claro

*/
body{
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  background-color: #f3f3f3;
  font-size: 25px;
}
.fondo-obscuro{
  background-color: #000000;
  }
.fondo-claro{
 background-color: rgba(86, 248, 154, 0.664);
}
.titulos{
/* font-family:  'Amatic SC', cursive; */
color: aliceblue;
background-color: #000000;
}
.titulos:hover{
  background-color: rgb(86, 248, 154);
  color: #000000;
}
.titulos-modal{
  /* font-family:  'Amatic SC', cursive; */
  color: #000000;

}
.menu-lateral{
  list-style: none;
  display: inline-block;
  height: 400px;
  width: 250px;
}
.opciones-menu-lateral{
  font-size: 30px;
}
/* .centrado-img{
  margin: auto 30px auto auto !important;
  text-align: center;
} */
.centrado {
  text-align: center;
}