<app-header></app-header>
<app-map #map appId="Jl6dgI6xgxQkHhB6m6xm" appCode="SjyJioAfaeKasZSqEx90Ug" lat="19.404556" lng="-99.164029" width="75%"
  height="530px"></app-map>

<!--Agenda padres-->
<!--codigo-->

<!--conductores-->
<article class="container">
  <section class="row mt-3">
    <div class="col-sm-12">
      <button class="btn btn-block boton-jornada">
        Terminar Jornada
      </button>
    </div>
  </section>
  <section class="row mt-3">
    <div class="col-sm-12">
      <button class="btn btn-block boton-lista" routerLink="/lista">
        Lista
      </button>
    </div>
  </section>
</article>