<section class="container">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <img  class="img-list" src="./../../../assets/images/1.jpg" alt="">
          <p>Luz Sanchez</p></th>
        <td>Coordinadora</td>        
      </tr>
      <tr>
        <th scope="row">
          <img class="img-list"  src="./../../../assets/images/nino.jpg" alt="">
          <p>Pepito Lopez</p></th>
        <td><button class="btn btn-block boton-bordo">A bordo</button> <button class="btn btn-block boton-cancelado">Cancelado</button></td>        
      </tr>
      <tr>
        <th scope="row">
            <img class="img-list"  src="./../../../assets/images/nina.jpg" alt="">
          Maria Gonzalez</th>
        <td><button class="btn btn-block boton-bordo">A bordo</button> <button class="btn btn-block boton-cancelado">Cancelado</button></td>  
      </tr>
    </tbody>
  </table>     
</section>
