<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <app-form></app-form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card mb-3" *ngFor="let post of issues">
                <div class="card-header">
                    Nombre de usuario
                    <div class="float-right" (click)="update(post)" data-toggle="modal" data-target="#exampleModal"><i
                            class="fas fa-pencil-alt"></i></div>
                    <div class="float-right mr-3" (click)="delete(post)"><i class="far fa-trash-alt"></i></div>
                    <span class="date float-right mr-3">Fecha</span>
                </div>
                <div class="alert alert-primary" role="alert">{{ post.publication }}</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar publicacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addUpdate()">
                    <input class="form-control" type="text" name="publication"
                        [(ngModel)]="currentIssue.publication">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-info" type="submit" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>