<div class="container mx-auto mt-2">
    <div class="row justify-content-center">
        <h1><img src="assets/images/Reddy Roadster.png" alt="Responsive image"></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto mt-2">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Login</h3>
                <form (submit)="onSubmitLogin()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control">
                    </div>
                    <input type="submit" value="Enviar" class="btn btn-outline btn-enviar btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</div>